{% block body %}
   <div class="msg-container">
       <form class="input-container" action="art" method="post">
           <textarea class="text" name="text" placeholder="Type something" required></textarea>
           <div class="banner-submit">
               <input type="submit" name="submit" value="SUBMIT">
           </div>
       </form>
   </div>
{% endblock %}